body {
  margin: 50px;
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  background: #222;
}

.column2 {
  display: inline-block;
  width: 40%;
  margin: 3%;
  vertical-align: top;
}

a {
  color: orange;
}

@media screen and (max-width: 900px) {
  .column2 {
    display: block;
    width: auto;
  }
}
